@layer theme, base, mui, components, utilities;

@layer mui {
  @block-content;
}

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #357252;
  --color-primary-light: #96ba94;
  --color-accent: #deefa2;
  --color-secondary-bg: #eef7f1;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Enforce Squared / Financial Look */
*, *::before, *::after {
  border-radius: 0 !important;
}
